/* You can add global styles to this file, and also import other style files */
header{
	background-color: blue;
	color: white;
	width: 100%;
	height: 65px;
}
header h4{
	margin-top: 0;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#wrapper{
	 height: 600px;
	overflow: scroll;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 border: 1px solid grey;

}
#removebtn,#editbtn{
	background-color: blue;
	color: white;
	cursor: pointer;
	width: 80px;
	border-radius: 50%;
}
.addFormWrapper{
	width: 50%;
	margin: auto;
	border: 1px solid grey;
	background-color: lightgrey;
}
/*.content:nth-child(odd){
	background-color: grey;
	color: white;
}*/